#include <dt-bindings/analog-stick/modes.h>

#include "splitchoc64.dtsi"

&kscan0 {
    /* LEFT Ver012: COL0..5 = D10,D11,D12,D13,D14,D15 */
    col-gpios
        = <&gpio1 15 GPIO_ACTIVE_HIGH>
        , <&gpio0 15 GPIO_ACTIVE_HIGH>
        , <&gpio0 19 GPIO_ACTIVE_HIGH>
        , <&gpio1 1 GPIO_ACTIVE_HIGH>
        , <&gpio0 9 GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    joy_split: analog_stick_split0 {
        compatible = "zmk,analog-stick-split";
        reg = <0>;
    };

    joy_listener: analog_stick_listener0 {
        compatible = "zmk,analog-stick-listener";
        device = <&joy_split>;

        base_mouse {
            layers = <0>;
            mode = <ANALOG_STICK_MODE_MOUSE>;
            mouse-min-speed = <1>;
            mouse-max-speed = <15>;
        };

        fn_mouse {
            layers = <1>;
            mode = <ANALOG_STICK_MODE_MOUSE>;
            mouse-min-speed = <1>;
            mouse-max-speed = <15>;
        };
    };
};
